// --------------------------------------------------------------------------
//	 Set type family variables
// --------------------------------------------------------------------------

$openSans: 'Open Sans', sans-serif;
//semi bold weight is 600

$sourceSansPro: 'Source Sans Pro', sans-serif;
//normal weight is 400
//semi bold weight is 600

$slab: 'Glegoo', Georgia, Times, serif;
//normal weight is 400

$serif: 'Merriweather', Georgia, Times, serif;
//normal weight is 400